body { 
	background-color: gray;
	color: white;
}
p.first {
width: 10%;
color: white;
font-family: "Comic Sans MS";
}
p.second {
width: 100%;
color: white;
font-family: "Comic Sans MS";
font-size: 22px;
text-align: center; 
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}