body { 
	background-color: white;
	color: black;
}
p.first {
width: 10%;
color: black;
font-family: "Comic Sans MS";
}
p.second {
width: 100%;
color: black;
font-family: "Comic Sans MS";
font-size: 22px;
text-align: center; /*CSS Comment you could use right, left, or center in this tag*/
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}